* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url(../public/meteor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  text-align: center;
}
